<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <listener>
    <description>init application</description>
    <listener-class>com.gydoc.site.ApplicationInit</listener-class>
  </listener>

  <servlet>
    <servlet-name>CreateNewChineseChess</servlet-name>
    <servlet-class>com.gydoc.game.cchess.servlet.CreateNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewChineseChess</servlet-name>
    <url-pattern>/cchess/createNew</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>